<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
</script>
</head>
<body>
<h1>views/2020.07.09.01.html</h1>
	<button id = "move_left"> 좌로 이동 </button>
	<button id = "move_right"> 우로 이동 </button>
	<button id = "move_top"> 위로 이동 </button>
	<button id = "move_bottom"> 아래 이동 </button>
</body>
<script>
	var w1 = window.open("https://www.naver.com","_blank","height=300, width=300,left=1000,top=0,menubar=1,resizable=0,true");
	var ml = document.getElementById("move_left");
	var mr = document.getElementById("move_right");
	var mt = document.getElementById("move_top");
	var mb = document.getElementById("move_bottom");
	ml.onclick = function(){
		w1.moveBy(-10,0);
	}
	mr.onclick = function(){
		w1.moveBy(10,0);
	}
	mt.onclick = function(){
		w1.moveBy(0,-10);
	}
	mb.onclick = function(){
		w1.moveBy(0,0);
	}
</script>
</html>